@import "general.css";
@import "typography.css";
@import "sitewide.css";
@import "item.css";
@import "single.css";
@import "utilities.css";

:root {
  /* color */

  --color-bg: #F5F3F0;
  --color-surface: #FFFFFF;
  --color-overlay: rgba(0, 0, 0, 0.3);
  --color-decoration: rgba(0, 0, 0, 0.1);

  --color-text-primary: rgba(0, 0, 0, 0.85);
  --color-text-secondary: rgba(0, 0, 0, 0.6);
  --color-text-link: #7A5295;

  --color-text-primary-inverted: rgba(255, 255, 255, 1);
  --color-text-secondary-inverted: rgba(255, 255, 255, 0.6);

  /* dimen */

  --spacing-diminutive: 0.25rem; /* 2dp */
  --spacing-tiny: 0.5rem; /* 4dp */
  --spacing-small: 1rem; /* 8dp */

  --spacing-p: 1rem;
  --spacing-section: 2rem;
  --spacing-column: var(--spacing-small);
  --spacing-stack: var(--spacing-tiny);
  --spacing-header-tabs: 1.5rem;

  --corner-radius: 0.6rem;

  --width-column-wide: 64rem;
  --width-column-narrow: calc(var(--width-column-wide) * 2/3); /* 4/6 */
  --width-column-1: calc(var(--width-column-wide / 6)); /* 1/6 */
  --width-mobile: 42rem;

  --height-header: 4rem;
  --height-logo-home: 5rem;
  --height-logo-header: 1.4rem;
  --height-hero: 50vh;
  --height-hero-large: 75vh;
  --height-item-project: 8rem;

  --size-social-circle: 42px;
  --size-social-circle-icon: 24px;

  /* type */

  --font-size-h1-logo: 4rem;
  --font-size-h1-hero: 3.5rem;
  --font-size-h1: 2.5rem;
  --font-size-h2: 1.8rem;
  --font-size-h3: 1.6rem;
  --font-size-body: 17px;
  --font-size-caption: 15px;

  --font-family-base: Karla, -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-family-special: "calder-script", Karla, -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

  /* anim */

  --transition: 0.2s;
}

@media screen and (max-width: 42rem) {
  :root {
    --spacing-header-tabs: 1.2rem;

    --height-logo-header: 1.2rem;
    --height-hero: 36vh;
    --height-hero-large: 67vh;
  }
}
