.column {
  width: var(--width-column-wide);
  max-width: calc(100% - 2 * var(--spacing-small));
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--spacing-small);
  padding-right: var(--spacing-small);
}

.column--narrow {
  width: var(--width-column-narrow);
}


/* || HEADER */

.header__content {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.header__logo {
  display: flex;
  font-weight: normal;
  text-align: start;
  align-items: center;
}

.header__nav {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-header-tabs);
  align-items: center;
}

.nav-tab {
  transition: var(--transition);
  border-radius: var(--corner-radius);
  font-weight: 500;
}

@media screen and (max-width: 42rem) {
  .nav-tab--hidable {
    display: none;
  }
}

.nav-logo {
  height: var(--height-logo-header);
}

.nav-tab:hover,
.nav-tab:active,
.nav-tab--selected {
  color: var(--color-text-primary);
  background-color: var(--color-surface);
  padding-left: var(--spacing-tiny);
  padding-right: var(--spacing-tiny);
  margin-left: calc(-1 * var(--spacing-tiny));
  margin-right: calc(-1 * var(--spacing-tiny));
}

.nav-tab.inverted:hover,
.nav-tab.inverted:active,
.nav-tab--selected.inverted {
  background-color: var(--color-bg);
}


/* || FOOTER */

.footer__text, .footer__text > * {
  margin: 0;
  text-align: center;
  color: var(--color-text-secondary);
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: var(--spacing-tiny);
}

.social-circle {
  background-color: var(--color-surface);
  border-radius: 1.5rem;
  width: var(--size-social-circle);
  height: var(--size-social-circle);
  transition: var(--transition);
}

.social-circle:hover,
.social-circle:active {
  width: calc(1.2 * var(--size-social-circle));
  height: calc(1.2 * var(--size-social-circle));
  margin-top: calc(-1 * (1.2 - 1) / 2 * var(--size-social-circle));
  margin-bottom: calc(-1 * (1.2 - 1) / 2 * var(--size-social-circle));
}

.social-circle > a {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.social-circle svg {
  width: var(--size-social-circle-icon);
  height: var(--size-social-circle-icon);
  color: var(--color-text-secondary);
  transition: var(--transition);
}

.social-circle:hover svg,
.social-circle:active svg {
  width: calc(1.2 * var(--size-social-circle-icon));
  height: calc(1.2 * var(--size-social-circle-icon));
  color: var(--color-text-primary);
}

.footer__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-tiny);
}

.footer__decoration {
  height: 6rem;
  width: auto;
}
