<header>
    {{ $class := "" }}

    <!-- overlapping hero -->
    {{ if and .Params.hero (or (ne .Kind "page") (.Params.project)) }}
        {{ $class = "inverted" }}
    {{ end }}

    <div class="header__content column">
        <div class="header__logo">
            <!-- don't show on homepage -->
            {{ if ne .RelPermalink "/" }}
                <a class="nav-logo {{ $class }}" href="/">{{ partial "ic/logo-small.svg" }}</a>
            {{ end }}
        </div>

        <nav class="header__nav">
            {{ range .Site.Sections }}
                {{ if .RegularPagesRecursive }}
                    {{ partial "header_tab" (dict "link" .RelPermalink "text" .LinkTitle "class" $class ) }}
                {{ end }}
            {{ end }}

            {{ partial "header_tab" (dict "link" "/about/" "text" "About" "class" $class ) }}
        </nav>
    </div>
</header>
